In [1]:
import pandas as pd

# Sort tuples in pandas

In [2]:
data = (
    (1,'Eugene', 37),
    (2,'Alyona', 27),
    (3,'Philip', 3),
    (4,'Eugene', 0),
    (4,'Eugene', 100),
)

df = pd.DataFrame(list(data), columns=['id', 'name', 'age'])
print(df)
df = df.set_index('id')
print(df)
df = df.sort_values(['name', 'age'], ascending=[1, 0])
print(df)

   id    name  age
0   1  Eugene   37
1   2  Alyona   27
2   3  Philip    3
3   4  Eugene    0
4   4  Eugene  100
      name  age
id
1   Eugene   37
2   Alyona   27
3   Philip    3
4   Eugene    0
4   Eugene  100
      name  age
id
2   Alyona   27
4   Eugene  100
1   Eugene   37
4   Eugene    0
3   Philip    3